<div class="page-header">
  <h1><%= Extinguisher.model_name.human.pluralize(I18n.locale) %></h1>
</div>

<div class="row">
  <div class="col-md-6">

    <div class="col-md-8">
      <form class="form-inline" ng-show="tabActive == 'list'">
        <div class="form-group">
          <label class="sr-only" for="sector"><%= Extinguisher.human_attribute_name(:sector) %></label>
          <select ng-model="search.sector" class="form-control" ng-options="sector as sector.name for sector in sectors track by sector.id">
            <option value=""><%= I18n.t("extinguishers.filters.sectors") %></option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4 text-right">
      <a class="btn btn-default" ng-click="tabActive = 'list'" ng-class="{'btn-primary': tabActive == 'list'}">List</a>
      <a class="btn btn-default" ng-click="tabActive = 'form'" ng-class="{'btn-primary': tabActive == 'form'}">Form</a>
    </div>

    <hr />

    <table id="extinguishers" class="table table-condensed" ng-show="tabActive == 'list'">
      <thead>
        <tr class="dropup">
          <th ng-click="search.order = 'id'" class="text-right"><%= Extinguisher.human_attribute_name(:id) %> <span ng-show="search.order == 'id'" class="caret"></span></th>
          <th ng-click="search.order = 'sector.name'"><%= Extinguisher.human_attribute_name(:sector) %> <span ng-show="search.order == 'sector.name'" class="caret"></span></th>
          <th ng-click="search.order = 'kind'" class="text-center"><%= Extinguisher.human_attribute_name(:kind) %> <span ng-show="search.order == 'kind'" class="caret"></span></th>
          <th ng-click="search.order = 'expiration_at'"><%= Extinguisher.human_attribute_name(:expiration_at) %> <span ng-show="search.order == 'expiration_at'" class="caret"></span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="extinguisher in extinguishers | orderBy: search.order | filter : { sector : search.sector || '!' }" id="extinguisher_{{extinguisher.id}}" ng-class="extinguisher.tr_class">
          <td class="text-right">#{{extinguisher.id}}</td>
          <td>{{extinguisher.sector.name}}</td>
          <td class="text-center"><span ng-class="extinguisher.label_class">{{extinguisher.kind}}</span></td>
          <td>{{extinguisher.expiration_at_in_words}}</td>
          <td>
            <a ng-click="setCurrentExtinguisher(extinguisher)" class="btn btn-xs btn-info"><%= I18n.t('view') %></a>
          </td>
        </tr>
      </tbody>
    </table>

    <form class="form-horizontal" ng-show="tabActive == 'form'" ng-submit="submit(newExtinguisher)">
      <div class="form-group">
        <label for="kind" class="col-sm-2 control-label"><%= Extinguisher.human_attribute_name(:kind) %></label>
        <div class="col-sm-10">
          <select class="form-control" id="kind" ng-model="newExtinguisher.kind" ng-options='k as k for k in <%= Extinguisher::KINDS %> track by k'>
            <option value=""><%= I18n.t 'select_a_kind' %></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="expiration_at" class="col-sm-2 control-label"><%= Extinguisher.human_attribute_name(:expiration_at) %></label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="expiration_at" ng-model="newExtinguisher.expiration_at">
        </div>
      </div>
      <div class="form-group">
        <label for="sector_id" class="col-sm-2 control-label"><%= Extinguisher.human_attribute_name(:sector) %></label>
        <div class="col-sm-10">
          <select class="form-control" id="sector_id" ng-model="newExtinguisher.sector_id" ng-options='sector.id as sector.name for sector in sectors track by sector.id'>
            <option value=""><%= I18n.t 'select_a_sector' %></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default"><%= I18n.t 'submit' %></button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-6" ng-show="current_extinguisher">
    <h3>
      <a ng-click="renew(current_extinguisher)" class=" btn btn-sm btn-success pull-right" id="renew" ng-show="current_extinguisher.is_expiring"><%= I18n.t('renew') %></a>
      Matafuegos # {{current_extinguisher.id}} / {{current_extinguisher.sector.name}}
    </h3>
    <img ng-src="http://maps.google.com/maps/api/staticmap?size=800x300&sensor=false&zoom=19&markers={{current_extinguisher.sector.latitude}}%2C{{current_extinguisher.sector.longitude}}" class='img-responsive img-thumbnail' />
    <hr />
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Sector</th>
          <td>{{current_extinguisher.sector.name}}</td>
        <tr>
          <th>Marca</th>
          <td>Georgia</td>
        </tr>
        <tr>
          <th>Tipo</th>
          <td><span ng-class="current_extinguisher.label_class">{{current_extinguisher.kind}}</td>
        </tr>
        <tr>
          <th>Capacidad nominal</th>
          <td>5 KG</td>
        </tr>
        <tr>
          <th>Peso con carga</th>
          <td>8,5 KG</td>
        </tr>
        <tr>
          <th>Dimensiones</th>
          <td>480 X 225 X 155 MM</td>
        </tr>
        <tr>
          <th>Agente extintor</th>
          <td>Polvo químico ABC 60</td>
        </tr>
        <tr>
          <th>Tiempo de descarga</th>
          <td>12 segundos</td>
        </tr>
        <tr>
          <th>Alcance</th>
          <td>5 - 6 metros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
