<tr id="<%= dom_id sector %>">
  <td class="text-right">#<%= sector.id %></td>
  <td><%= sector.name %></td>
  <td class="text-right"><%= sector.latitude %></td>
  <td class="text-right"><%= sector.longitude %></td>
</tr>
