<div class="page-header">
  <h1><%= Sector.model_name.human.pluralize(I18n.locale) %></h1>
</div>

<div class="row">
  <div class="col-md-6">

    <div class="text-right">
      <a class="btn btn-default" ng-click="tabActive = 'list'" ng-class="{'btn-primary': tabActive == 'list'}">List</a>
      <a class="btn btn-default" ng-click="tabActive = 'form'; current_sector = newSector" ng-class="{'btn-primary': tabActive == 'form'}">Form</a>
    </div>

    <hr />

    <table id="sectors" class="table table-condensed" ng-show="tabActive == 'list'">
      <thead>
        <tr>
          <th class="text-right"><%= Sector.human_attribute_name(:id) %></th>
          <th><%= Sector.human_attribute_name(:name) %></th>
          <th class="text-right"><%= Sector.human_attribute_name(:latitude) %></th>
          <th class="text-right"><%= Sector.human_attribute_name(:longitude) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sector in sectors | orderBy: 'name'" id="sector_{{sector.id}}">
          <td class="text-right">#{{sector.id}}</td>
          <td>{{sector.name}}</td>
          <td class="text-right">{{sector.latitude}}</td>
          <td class="text-right">{{sector.longitude}}</td>
          <td>
            <a ng-click="setCurrentSector(sector)" class="btn btn-xs btn-info"><%= I18n.t('view') %></a>
          </td>
        </tr>
      </tbody>
    </table>

    <sector-form ng-show="tabActive == 'form'" sector="newSector"></sector-form>
  </div>

  <div class="col-md-6">
    <sector sector="current_sector"></sector>
  </div>
</div>
